h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
button {
  background-color: inherit;
}
header {
  width: 12%;
  position: fixed;
}
main {
  width: 85%;
  margin-left: 18%;
}
main .row {
  margin: 0 !important;
}
a {
  text-decoration: none !important;
}
.body-container {
  display: flex;
  z-index: -1;
}
.menu-items {
  list-style: none;
  padding: 0;
}
.menu-item a {
  color: black;
  padding: 10px;
  border-radius: 30px;
}
.logo {
  color: #1da1f2;
  font-size: 28px;
  padding-left: 10px;
}
.menu-item {
  font-size: 20px;
  margin: 5px 0;
  width: auto;
  padding: 5px;
}
.menu-item a:hover {
  background-color: #e8f5fe;
  color: #1da1f2;
}
.menu-active a{
  background-color: #e8f5fe;
  color: #1da1f2;
}
.pp img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.home-container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 !important;
}

.home-post {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.tweet-item {
  border-bottom: 1px solid #ccc;
}
.home-header {
  font-size: 20px;
  font-weight: bolder;
}
.home-post input {
  margin-left: 20px;
  border: none;
  width: 100%;
  outline: none;
}
.tweet-settings {
  width: 50%;
}
.tweet-settings-item {
  height: 50px;
  width: 50px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.tweet-settings-item:hover {
  background-color: #e8f5fe;
}
.tweet-settings a {
  font-size: 20px;
  color: #4fb6f5;
  border-radius: 50%;
}
.tweet-settings a:hover {
  color: #4fb6f5;
}
.tweet-link{
  border: none;
  width: 90%;
  height: 40px;
  background-color: #1da1f2;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  color: white;
  font-weight: bold; 
  margin-top:4% !important;
}
.tweet-button button {
  border: none;
  background-color: #8ED0F8;
  color: #fff;
  border-radius: 20px;
  padding: 10px 10px;
  font-weight: bolder;
}
.tweet-button a:hover {
  color: #fff;
  background-color: #1a91da;
}

.name p {
  color: #aab4be;
  margin-left: 5px !important;
}
.tweet-post {
  padding: 10px 0 10px 60px;
}
.card {
  border-radius: 20px !important;
}
.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 250px;
  object-fit: fill;
  object-position: center;
}

.search {
  background-color: #ebeef0;
  margin-top: 5px;
  padding: 5px;
  border-radius: 50px;
}

.search-input {
  width: 100%;
}
.search-input input {
  background-color: #ebeef0;
  border: none;
  outline: none;
  width: 100%;
}

.trends-widget {
  background-color: #f7f9fa;
  margin-top: 20px;
  border-radius: 15px;
}
.trends-title h5 {
  font-weight: bolder;
}
.trends-item p {
  color: #9eaab5;
  font-size: 12px;
}
.widget-container {
  right: 15% !important;
  width: 25% !important;
}
.tweet-actions button,
.widget-container button {
  border: none;
}

.topics-widget {
  background-color: #f7f9fa;
  margin-top: 20px;
  border-radius: 20px;
}

.trends-item:hover,
.topics-item:hover {
  background-color: #eff1f2;
}
.item-buttons a {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  padding: 3px 10px;
  color: #1da1f2;
  font-weight: bolder;
}

.footer-item {
  width: 27%;
}

.footer a,
.footer p {
  font-size: 13px;
}
